<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-div">
      <form action="/register" method="post">
        <p class = "register-heading">Sign Up</p>
        <input name = "username" type="text" placeholder="Username" />
        <input name = "password" type="text" name="" id="" placeholder="Password" />
        <button type = "submit" class="button-87" role="button">Sign Up</button>
      </form>
      <div class="sub-div">
        <p>Already have an Account? <a href="/login">Login</a></p>
      </div>
    </div>
  </body>
</html>
